.head{
	text-align: center;
	text-decoration-line: underline;
}
.r{
  padding: 20px; 
  width: 250px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid white;  

}

body {
	background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59);
	background-size: 400% 250%;
	animation: gradient 07s ease infinite;
}


.topnav {
	font-family: 'Barlow';
	background-color: transparent;
	overflow: hidden;
}
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: none;
	color: black;
	opacity: 0.9;
}
