body {
	background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59);
	background-size: 400% 250%;
	animation: gradient 07s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.FWT1{
	font-family: 'Barlow';
	text-align: center;
	position: fixed;
	top: 42%;
	left: 40%;
}

.FWT2{
	font-family: 'Barlow';
	text-align: center;
	position: fixed;
	top: 50%;
	left: 40%;
}

.topnav {
	font-family: 'Barlow';
	background-color: transparent;
	overflow: hidden;
}
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.util {
	float: right;
	right: 0;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: none;
	color: black;
	opacity: 0.9;
}
  

.ranimg {
	width:33%;
	height:auto;
	margin-top:8px;
	margin-left:8px;
}

.footer {
	position: fixed;
	left: 50px;
	bottom: 0;
	width: 150px;
	background-color: transparent;
	color: #f2f2f2;
	text-align: left;
	line-height: normal;
 }

.conhead{
	opacity: 1;
	font-family: 'Barlow';
}

.conbody{
	opacity: 1;
	font-family: 'Barlow';
}

.tab {
	position:absolute;
	left:150px;
}


.sidenav {
	background: linear-gradient(90deg,#C6FFDD,#FBD786,#f7797d);
	background-size: 400% 250%;
	animation: gradient 14s ease infinite;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	font-family: 'Barlow';
	opacity: 0.8;
  }
  
  .sidenav a {
  	opacity: 0.9px;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: black;
  }
  
  .sidenav .closebtn {

	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


  